body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  margin: 2px auto;
  color: rgb(10, 10, 121);
}

h2 {
  font-size: 17px;
  color: #75a9dc;;
  font-weight: 700;
  margin: 22px auto;
  width: 673px;
  margin-top: 0px;
}

.App {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo {
  cursor: pointer;
  border: inset;
  width: 400px;
  margin: 5px auto;
  font-weight: 600;
  text-align: left;

}


.strike {
  background-color: rgb(96, 150, 49);
  color: white;
  font-weight: 200;
}

.todo {
  cursor: pointer;
}
.strike {
  text-decoration: line-through;
}

.col {
  margin-top: 13px;
  font: icon;
  font-weight: 500px;
}